In [1]:
import pandas as pd 
import pymongo
import os

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db = client.project2

In [17]:
csvpath = "Resources/food_data2.csv"
food2_data = pd.read_csv(csvpath, encoding= 'unicode_escape')
food2_data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [20]:
csvpath4 = "Resources/happiness_data/2018.csv"
csvpath5 = "Resources/happiness_data/2019.csv"

happiness_2018 = pd.read_csv(csvpath4, encoding= 'unicode_escape')
happiness_2019 = pd.read_csv(csvpath5, encoding= 'unicode_escape')


happiness_2019 = pd.merge(happiness_2018, happiness_2019,
                                 how='outer', on='Country or region')

In [21]:
happiness_2019.head()

,Overall rank_x,Country or region,Score_x,GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,Generosity_x,Perceptions of corruption_x,Overall rank_y,Score_y,GDP per capita_y,Social support_y,Healthy life expectancy_y,Freedom to make life choices_y,Generosity_y,Perceptions of corruption_y
0,1.0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,1.0,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2.0,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341
2,3.0,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,4.0,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5.0,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,6.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343

In [22]:
csvpath6 = "Resources/freedom.csv"
freedom = pd.read_csv(csvpath6, encoding= 'unicode_escape')

In [23]:
freedom.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6