In [1]:
import pandas as pd 
import pymongo
import os 
import pymysql

## Connection to the Database

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.project2

## Importing all Datasets

In [3]:
csvpath = "Resources/food_data2.csv"
food2_data = pd.read_csv(csvpath, encoding= 'unicode_escape')
csvpath5 = "Resources/happiness_data/2019.csv"
happiness_2019 = pd.read_csv(csvpath5, encoding= 'unicode_escape')
csvpath6 = "Resources/freedom.csv"
freedom = pd.read_csv(csvpath6, encoding= 'unicode_escape')

## Cleaning the Data
- Each data Frame needed to have rows with NaN values removed. 
- Dataframes also had mismatching whitespace that we removed.

In [4]:
food2_data = food2_data.dropna(how='any')
food_data = food2_data[["Country", "Region", "Population"]]
food_data = food_data.convert_dtypes()
food_data["Country"] = food_data["Country"].str.strip()
food_data

               Country                               Region  Population
0          Afghanistan        ASIA (EX. NEAR EAST)             31056997
1              Albania  EASTERN EUROPE                          3581655
2              Algeria  NORTHERN AFRICA                        32930091
6             Anguilla              LATIN AMER. & CARIB           13477
7    Antigua & Barbuda              LATIN AMER. & CARIB           69108
..                 ...                                  ...         ...
218          Venezuela              LATIN AMER. & CARIB        25730435
219            Vietnam        ASIA (EX. NEAR EAST)             84402966
224              Yemen  NEAR EAST                              21456188
225             Zambia  SUB-SAHARAN AFRICA                     11502010
226           Zimbabwe  SUB-SAHARAN AFRICA                     12236805

[179 rows x 3 columns]

In [5]:
happiness = happiness_2019.rename(columns={"Country or region": "Country"})
happiness_df = happiness[["Country", "GDP per capita", "Freedom to make life choices"]]
happiness_df = happiness_df.convert_dtypes()
happiness_df["Country"] = happiness_df["Country"].str.strip()
happiness_df

                      Country  GDP per capita  Freedom to make life choices
0                     Finland           1.340                         0.596
1                     Denmark           1.383                         0.592
2                      Norway           1.488                         0.603
3                     Iceland           1.380                         0.591
4                 Netherlands           1.396                         0.557
..                        ...             ...                           ...
151                    Rwanda           0.359                         0.555
152                  Tanzania           0.476                         0.417
153               Afghanistan           0.350                         0.000
154  Central African Republic           0.026                         0.225
155               South Sudan           0.306                         0.010

[156 rows x 3 columns]

In [6]:
freedom = freedom.dropna(how='any')
freedom_new = freedom[["CountryID", "Country", "World Rank"]]
freedom_new = freedom_new.convert_dtypes()
freedom_new["Country"] = freedom_new["Country"].str.strip()
freedom_new

     CountryID      Country  World Rank
0            1  Afghanistan         152
1            2      Albania          52
2            3      Algeria         171
3            4       Angola         156
4            5    Argentina         148
..         ...          ...         ...
180        178      Vanuatu         116
181        179    Venezuela         179
182        180      Vietnam         128
184        182       Zambia         138
185        183     Zimbabwe         175

[173 rows x 3 columns]

In [7]:
country_df = pd.merge(food_data, freedom_new, on="Country", how="outer")
country_df = country_df.dropna(how='any')
country_full = pd.merge(country_df, happiness_df, on="Country", how="outer")
country_full = country_full.dropna(how='any')
country_final = country_full.rename(columns={"World Rank": "Freedom Ranking"})
country_final

,Country,Region,Population,CountryID,Freedom Ranking,GDP per capita,Freedom to make life choices
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,1,152,0.350,0.000
1,Albania,EASTERN EUROPE,3581655,2,52,0.947,0.383
2,Algeria,NORTHERN AFRICA,32930091,3,171,1.002,0.086
3,Argentina,LATIN AMER. & CARIB,39921833,5,148,1.092,0.471
4,Armenia,C.W. OF IND. STATES,2976372,6,47,0.850,0.283
...,...,...,...,...,...,...,...
131,Uzbekistan,C.W. OF IND. STATES,27307134,177,140,0.745,0.631
133,Venezuela,LATIN AMER. & CARIB,25730435,179,179,0.960,0.154
134,Vietnam,ASIA (EX. NEAR EAST),84402966,180,128,0.741,0.543
135,Zambia,SUB-SAHARAN AFRICA,11502010,182,138,0.578,0.431
136,Zimbabwe,SUB-SAHARAN AFRICA,12236805,183,175,0.366,0.361

## Importing into DataBase
- We chose to import our data into both a sql and mongo database 
- For SQL, we needed to rename the columns to be identical to the database

In [47]:
from config import username, password
from sqlalchemy import create_engine

## SQL

In [48]:
country_final_new = country_final.rename(columns = {"ID": "ID","CountryID": "Country_ID",
                                                 "Freedom Ranking": "Freedom_ranking", 
                                                 "GDP per capita" : "GDP_per_capita", 
    "Freedom to make life choices": "Freedom_to_make_life_choices"})

In [49]:
country_final_new.set_index("Country_ID", inplace=True)

country_final_new.head()

,Country,Region,Population,Freedom_ranking,GDP_per_capita,Freedom_to_make_life_choices
Country_ID,,,,,,
1,Afghanistan,ASIA (EX. NEAR EAST),31056997,152,0.350,0.000
2,Albania,EASTERN EUROPE,3581655,52,0.947,0.383
3,Algeria,NORTHERN AFRICA,32930091,171,1.002,0.086
5,Argentina,LATIN AMER. & CARIB,39921833,148,1.092,0.471
6,Armenia,C.W. OF IND. STATES,2976372,47,0.850,0.283

In [50]:
list(country_final_new.columns.values)

['Country',
 'Region',
 'Population',
 'Freedom_ranking',
 'GDP_per_capita',
 'Freedom_to_make_life_choices']

In [57]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/countries_db')
connection = engine.connect()

In [58]:
engine.table_names()

['combined_tables_again',
 'food_data',
 'happiness_data',
 'freedom_table',
 'combined_tables',
 'combined_tables_new']

In [60]:
country_final_new.to_sql(name='combined_tables_again', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country_ID" of relation "combined_tables_again" does not exist
LINE 1: INSERT INTO combined_tables_again ("Country_ID", "Country", ...
                                           ^

[SQL: INSERT INTO combined_tables_again ("Country_ID", "Country", "Region", "Population", "Freedom_ranking", "GDP_per_capita", "Freedom_to_make_life_choices") VALUES (%(Country_ID)s, %(Country)s, %(Region)s, %(Population)s, %(Freedom_ranking)s, %(GDP_per_capita)s, %(Freedom_to_make_life_choices)s)]
[parameters: ({'Country_ID': 1, 'Country': 'Afghanistan', 'Region': 'ASIA (EX. NEAR EAST)         ', 'Population': 31056997, 'Freedom_ranking': 152, 'GDP_per_capita': 0.35, 'Freedom_to_make_life_choices': 0.0}, {'Country_ID': 2, 'Country': 'Albania', 'Region': 'EASTERN EUROPE                     ', 'Population': 3581655, 'Freedom_ranking': 52, 'GDP_per_capita': 0.9470000000000001, 'Freedom_to_make_life_choices': 0.38299999999999995}, {'Country_ID': 3, 'Country': 'Algeria', 'Region': 'NORTHERN AFRICA                    ', 'Population': 32930091, 'Freedom_ranking': 171, 'GDP_per_capita': 1.002, 'Freedom_to_make_life_choices': 0.086}, {'Country_ID': 5, 'Country': 'Argentina', 'Region': 'LATIN AMER. & CARIB    ', 'Population': 39921833, 'Freedom_ranking': 148, 'GDP_per_capita': 1.092, 'Freedom_to_make_life_choices': 0.47100000000000003}, {'Country_ID': 6, 'Country': 'Armenia', 'Region': 'C.W. OF IND. STATES ', 'Population': 2976372, 'Freedom_ranking': 47, 'GDP_per_capita': 0.85, 'Freedom_to_make_life_choices': 0.28300000000000003}, {'Country_ID': 7, 'Country': 'Australia', 'Region': 'OCEANIA                            ', 'Population': 20264082, 'Freedom_ranking': 5, 'GDP_per_capita': 1.3719999999999999, 'Freedom_to_make_life_choices': 0.557}, {'Country_ID': 8, 'Country': 'Austria', 'Region': 'WESTERN EUROPE                     ', 'Population': 8192880, 'Freedom_ranking': 31, 'GDP_per_capita': 1.376, 'Freedom_to_make_life_choices': 0.532}, {'Country_ID': 9, 'Country': 'Azerbaijan', 'Region': 'C.W. OF IND. STATES ', 'Population': 7961619, 'Freedom_ranking': 60, 'GDP_per_capita': 1.043, 'Freedom_to_make_life_choices': 0.35100000000000003}  ... displaying 10 of 116 total bound parameter sets ...  {'Country_ID': 182, 'Country': 'Zambia', 'Region': 'SUB-SAHARAN AFRICA                 ', 'Population': 11502010, 'Freedom_ranking': 138, 'GDP_per_capita': 0.578, 'Freedom_to_make_life_choices': 0.431}, {'Country_ID': 183, 'Country': 'Zimbabwe', 'Region': 'SUB-SAHARAN AFRICA                 ', 'Population': 12236805, 'Freedom_ranking': 175, 'GDP_per_capita': 0.366, 'Freedom_to_make_life_choices': 0.361})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [55]:
countries = pd.read_sql( "SELECT * FROM combined_tables_again", connection)